@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinner-ring {
  100% {
    transform: rotate(360deg);
  }
}
/*Date time picker */
/*input*/
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  border-radius: 10px;
  padding: 10px;
  outline: none !important;

  cursor: pointer;
  background-color: #fff;

  
 
}
.css-1beqopj-MuiPickersYear-yearButton.Mui-selected {
    background-color: red !important;
}

.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: red !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:hover{
    background-color: red !important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root:focus {

  outline: none !important;
  border: none;
}

/*svg icon color */
.css-i4bv87-MuiSvgIcon-root {
  color: #fff !important;
  color: red !important;
}

.MuiButtonBase-root
  .MuiIconButton-root
  .MuiIconButton-edgeEnd
  .MuiIconButton-sizeMedium
  .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  background-color: green !important;
  color: none !important;
  border: none !important;
  padding: 20px 20px 20px 20px !important;
}

.css-cwhad8-MuiDateCalendar-root {
  background-color: #222121 !important;
  color: #fff !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  color: #fff !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  color: #fff !important;
}
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: 1px solid red !important;
  color: #fff !important;
}

.css-i5q14k-MuiDayCalendar-header {
  color: #fff !important;
}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  color: #fff !important;
}
.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  color: red !important;
}
.css-1vooibu-MuiSvgIcon-root {
  color: red !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  color: red !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: red !important;
}
.css-bmoxj4-MuiList-root-MuiMultiSectionDigitalClockSection-root {
  background-color: #222121 !important;
  scrollbar-color: var(--thumb-color) var(--track-color);
  scrollbar-width: thin;
}
.css-1e3wlyl-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item {
  color: #fff !important;
}
.css-hlj6pa-MuiDialogActions-root {
  background-color: #222121 !important;
  padding: 15px 10px 10px 10px !important;
  color: #fff !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  background-color: red !important;
  color: #fff !important;
  font-weight: bold;
}
.css-1e3wlyl-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item.Mui-selected {
  background-color: red !important;
}
.css-1e3wlyl-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item:hover {
  background-color: red !important;
}
.css-1bcmzxa-MuiMultiSectionDigitalClock-root
  .MuiMultiSectionDigitalClock-root {
  background-color: #222121 !important;
}
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: red !important;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
